<section id="contact" class="section">
    <h1 class="section-title">Contact</h1>
    <p class="about-me">基本的にはTwitterによくいます。<br />
        <a href="http://howitworks.hatenablog.jp/" target="_blank" rel="noopener noreferrer">ブログ</a>とQiitaはたまに、GitHubは思いたったときにのみ現れます。<br />
    </p>
    <ul class="sns">
        <li class="icon">
            <a href="https://github.com/dexia2" target="_blank" rel="noopener noreferrer"><img src="assets/github.svg" alt="GitHubのアイコン" /></a>
        </li>
        <li class="icon">
            <a href="https://qiita.com/dexia" target="_blank" rel="noopener noreferrer"><img src="assets/qiita.png" alt="Qiitaのアイコン" /></a>
        </li>
        <li class="icon">
            <a href="https://twitter.com/dexia2" target="_blank" rel="noopener noreferrer"><img src="assets/twitter.svg" alt="Twitterのアイコン" /></a>
        </li>
    </ul>
</section>