@import "../variables.scss";
#output {
    background-color: $primary-color;
    padding-bottom: 50px;

    .cards {
        display: grid;
        margin: 0 0 2em;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0.8em;
        padding: 0.8em;

        .card {
            img {
                padding-top: 20px;
                width: 60%;
            }

            .title {
                color: #606470;
                font-size: 24px;
                letter-spacing: .1em;
                line-height: 1.6;
                margin-bottom: 10px;
            }

            .content {
                font-size: 16px;
                line-height: 1.2;
                text-align: left;
            }

        }

    }

}

@media screen and (max-width: 480px) {
    #output {}
}