@import "../variables.scss";
#output {
    background-color: $primary-color;
    padding-bottom: 50px;
    .cards {
        align-content: center;        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 2em;
        padding: 0.8em;
        .card {
            display: inline-block;
            min-width: 220px;
            margin-bottom: 20px;
            margin-right: 10px;
            vertical-align: top;
            width: 20%;
            img {
                padding-top: 20px;
                width: 60%;
            }
            .title {
                color: #606470;
                font-size: 24px;
                letter-spacing: .1em;
                line-height: 1.6;
                margin-bottom: 10px;
            }
            .content {
                font-size: 16px;
                line-height: 1.2;
                text-align: left;
            }

        }

    }

}

@media screen and (max-width: 1024px) {
    #output {
        .cards {       
            justify-content: space-around;
            .card {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #output {
        .cards {
            .card {
                width: 100%;
            }
        }
    }
}