<section id="output" class="section">
  <h1 class="section-title">Output</h1>
  <div class="cards">
    <mat-card class="card">
      <a href="https://github.com/dexia2/readnext" target="_blank">
        <img mat-card-image src="assets/github.svg" alt="GitHubのアイコン">
      </a>
      <mat-card-content>
        <a href="https://github.com/dexia2/readnext" target="_blank">
          <p class="title">readnext</p>
        </a>
        <p class="content">
          バドミントンのシングルスの配球をシミュレーションするプログラムです。ClojureScriptとQuil（processing）を使っています。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <a href="https://github.com/dexia2/NewYearCard2017" target="_blank">
        <img mat-card-image src="assets/github.svg" alt="GitHubのアイコン">
      </a>
      <mat-card-content>
        <a href="https://github.com/dexia2/NewYearCard2017" target="_blank">
          <p class="title">NewYearCard2017</p>
        </a>
        <p class="content">
          2017年の年賀状をHTMLとCSSで書きました。ブログ風のデザインをイメージしました。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <a href="https://qiita.com/dexia/items/0c453b071fc3de100e39" target="_blank">
        <img mat-card-image src="assets/qiita.png" alt="Qiitaのアイコン">
      </a>
      <mat-card-content>
        <a href="https://qiita.com/dexia/items/0c453b071fc3de100e39" target="_blank">
          <p class="title">データ構造を変換して遊ぼう～ES2015版～</p>
        </a>
        <p class="content">
          ES2015の特徴的な構文を使えば、簡単にデータ構造が変換できることを説明した記事です。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <a href="https://qiita.com/dexia/items/426e4d71a0f4858c2c55" target="_blank">
        <img mat-card-image src="assets/qiita.png" alt="Qiitaのアイコン">
      </a>
      <mat-card-content>
        <a href="https://qiita.com/dexia/items/426e4d71a0f4858c2c55" target="_blank">
          <p class="title">Evolution In LISPs</p>
        </a>
        <p class="content">
          現在使われているLisp言語の特徴を比較しつつ、プログラミング言語の思想と進化に迫った記事です。
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>