<section id="output" class="section">
  <h1 class="section-title">Output</h1>
  <div class="cards">
    <mat-card class="card">
      <img mat-card-image src="../../assets/github.svg" alt="GitHubのアイコン">
      <mat-card-content>
        <p class="title">readnext</p>
        <p class="content">
          バドミントンのシングルスの配球をシミュレーションするプログラムです。ClojureScriptとQuil（processing）を使っています。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="../../assets/github.svg" alt="GitHubのアイコン">
      <mat-card-content>
        <p class="title">NewYearCard2017</p>
        <p class="content">
          2017年の年賀状をHTMLとCSSで書きました。ブログ風のデザインをイメージしました。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="../../assets/qiita.png" alt="Qiitaのアイコン">
      <mat-card-content>
        <p class="title">データ構造を変換して遊ぼう～ES2015版～</p>
        <p class="content">
          ES2015の特徴的な構文を使えば、簡単にデータ構造が変換できることを説明した記事です。
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="../../assets/qiita.png" alt="Qiitaのアイコン">
      <mat-card-content>
        <p class="title">Evolution In LISPs</p>
        <p class="content">
          現在使われているLisp言語の特徴を比較しつつ、プログラミング言語の思想と進化に迫った記事です。
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>