<header class="top-bar">
  <div class="container">
    <ul class="main-menus">
      <li class="main-menu">
        <a href="#">Overview</a>
      </li>
      <li class="main-menu">
        <a href="#">Career</a>
      </li>
      <li class="main-menu">
        <a href="#">Skill</a>
      </li>
      <li class="main-menu">
        <a href="#">Output</a>
      </li>
      <li class="main-menu">
        <a href="#">Contact</a>
      </li>
    </ul>
    <ul class="sub-menus">
      <li>
        <a href="#">
          <img class="menu-logo" src="../assets/github.svg" />
        </a>
      </li>
    </ul>
  </div>
</header>