<section id="career" class="section">
  <h1 class="section-title">Career</h1>
  <mat-vertical-stepper>
    <mat-step>
      <ng-template matStepLabel>Webシステム開発（3年）</ng-template>
      <dl class="experience">
        <dt class="heading">職種</dt>
        <dd class="content">システムエンジニア兼プログラマ</dd>
        <dt class="heading">役割</dt>
        <dd class="content">
          RDBの基本設計、アーキテクチャ選定、開発、テスト、運用
        </dd>
        <dt class="heading">チーム</dt>
        <dd class="content">2～4人</dd>
        <dt class="heading">開発環境</dt>
        <dd class="content">
          C#, ASP.NET Core, Entity Framework Core, Azure App Service, SQLServer<br />
          Angular（4～6）, TypeScript, Scss, Angular Material, RxJS, Wijmo5<br />
        </dd>
        <dt class="heading">詳細</dt>
        <dd class="content">
          基本的な開発工程のほとんどをチームリーダーと2人で担当していました。<br />
          認証（シングルサインオン）、国際化対応、セキュリティ対応調査など技術的な課題の仕事が多かったです。<br />
        </dd>
      </dl>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>デスクトップアプリ開発（2年）</ng-template>
      <dl class="experience">
        <dt class="heading">職種</dt>
        <dd class="content">プログラマ</dd>
        <dt class="heading">役割</dt>
        <dd class="content">
          クラス設計、開発、単体テスト
        </dd>
        <dt class="heading">チーム</dt>
        <dd class="content">4～6人</dd>
        <dt class="heading">開発環境</dt>
        <dd class="content">
          VB.NET, Windows Forms, Spread, Oracle Database<br />
        </dd>
        <dt class="heading">詳細</dt>
        <dd class="content">
          技術的にはExcelの帳票出力、パフォーマンス改善（主にSQL）、国際化対応などをやっていました。<br />
          この頃はプログラマとして仕事をしていて、OOP色を強くした設計を導入しました。<br />
        </dd>
      </dl>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>新人教育（6ヶ月）</ng-template>
      <dl class="experience">
        <dt class="heading">役割</dt>
        <dd class="content">
          研修後、すぐに使えるエンジニアを養成する
        </dd>
        <dt class="heading">対象人数</dt>
        <dd class="content">2人</dd>
        <dt class="heading">開発環境</dt>
        <dd class="content">
          C#, Windows Forms<br />
          Node.js, Express, Webpack, Karma, Jasmine, MySQL<br />
          Angular4, TypeScript, jQuery<br />
          PowerShell, Git（Bitbucket）<br />
        </dd>
        <dt class="heading">詳細</dt>
        <dd class="content">
          社内で使われている技術がプロジェクトによって異なるため、幅広い技術を教育することにしました。<br />
          まずはjQueryで実装して、その後Angularに移行するなどしていため、技術がばらけています。<br />
          大きな課題としてはボウリングのスコア計算システムと、チャットボットの開発です。<br />
        </dd>
      </dl>
    </mat-step>
  </mat-vertical-stepper>
</section>