<header class="top-bar">
    <nav class="top-nav">
      <ul class="main-menus">
        <li class="menu-item">
          <a href="#overview">Overview</a>
        </li>
        <li class="menu-item">
          <a href="#career">Career</a>
        </li>
        <li class="menu-item">
          <a href="#skill">Skill</a>
        </li>
        <li class="menu-item">
          <a href="#output">Output</a>
        </li>
        <li class="menu-item">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="sub-menus">
        <li class="menu-item">
          <a href="https://github.com/dexia2/Portfolio2018" target="_blank" rel="noopener noreferrer">
            <img class="menu-logo" src="assets/github.svg" />
          </a>
        </li>
      </ul>
    </nav>
    <ul class="hamburger" (click)="isOpen=!isOpen" [class.open]="isOpen">
      <li class="bun"></li>
      <li class="bun"></li>
      <li class="bun"></li>
    </ul>
  </header>
  <nav class="side-nav" [class.open]="isOpen">
    <ul class="main-menus">
      <li class="menu-item">
        <a (click)="gotoSection('overview')">Overview</a>
      </li>
      <li class="menu-item">
        <a (click)="gotoSection('career')">Career</a>
      </li>
      <li (click)="gotoSection('skill')" class="menu-item">
        <a >Skill</a>
      </li>
      <li class="menu-item">
        <a (click)="gotoSection('output')">Output</a>
      </li>
      <li class="menu-item">
        <a (click)="gotoSection('contact')">Contact</a>
      </li>
    </ul>
  </nav>