<section id="home" class="section">
    <ul class="objects">
        <li class="object square square1"></li>
        <li class="object square square2"></li>
        <li class="object square square3"></li>
        <li class="object square square4"></li>
        <li class="object square square5"></li>
        <li class="object square square6"></li>
        <li class="object square square7"></li>
        <li class="object square square8"></li>
        <li class="object square square9"></li>
        <li class="object square square10"></li>        
        <li class="object circle circle1"></li>
        <li class="object circle circle2"></li>
        <li class="object circle circle3"></li>
        <li class="object circle circle4"></li>
        <li class="object triangle triangle1"></li>
        <li class="object triangle triangle2"></li>
    </ul>
    <div class="author-info">
        <div class="author-name">dexia2</div>
        <div class="author-role">Web Developer</div>
    </div>
</section>