<section id="home" class="section">
    <ul class="objects">
        <li class="object rectangle rectangle1"></li>
        <li class="object rectangle rectangle2"></li>
        <li class="object rectangle rectangle3"></li>
        <li class="object rectangle rectangle4"></li>
        <li class="object rectangle rectangle5"></li>
        <li class="object rectangle rectangle6"></li>
        <li class="object rectangle rectangle7"></li>
        <li class="object rectangle rectangle8"></li>
        <li class="object circle circle1"></li>
        <li class="object circle circle2"></li>
        <li class="object triangle triangle1"></li>
        <li class="object triangle triangle2"></li>
    </ul>
    <div class="author-info">
        <div class="author-name">dexia2</div>
        <div class="author-role">Web Developer</div>
    </div>
</section>