#home {
    background-color: #fff;
    height: 100vh;
}

.objects {
    height: 100%;
    overflow: hidden;
    position: relative;
    .object {
        position: absolute;
    }
    .square {
        bottom: -150px;
        &.square1,
        &.square2,
        &.square3,
        &.square4,
        &.square5,
        &.square6 {
            animation: move-object 6s linear infinite;
            background: radial-gradient(#ffa500, #fff);
            height: 100px;
            width: 100px;
        }
        &.square1 {
            left: 50%;
        }
        &.square2 {
            animation-delay: 0.3s;
            left: 10%;
        }
        &.square3 {
            animation-delay: 2s;
            left: 25%;
        }
        &.square4 {
            animation-delay: 1s;
            left: 85%;
        }
        &.square5 {
            animation-delay: 4s;            
            left: 30%;
        }
        &.square6 {
            animation-delay: 2.2s;
            left: 75%;
        }        
        &.square7,
        &.square8,
        &.square9,
        &.square10 {
            animation: move-object 3s linear infinite;
            background: radial-gradient(#e3746b, #fff);
            height: 50px;
            width: 50px;
        }
        &.square7 {
            left: 0%;
        }
        &.square8 {
            animation-delay: 2.2s;
            left: 15%;
        }
        &.square9 {
            animation-delay: 0.8s;
            left: 45%;
        }
        &.square10 {
            animation-delay: 1.4s;
            left: 77%;
        }
    }
    .circle {
        animation: move-object 5s linear infinite;
        background: radial-gradient(#1cb0ec, #fff);
        bottom: -250px;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        &.circle1 {
            animation-delay: 1.5s;
            left: 3%;
        }
        &.circle2 {
            animation-delay: 0s;
            left: 95%;
        }
        &.circle3 {
            animation-delay: 3s;
            left: 45%;
        }
        &.circle4 {
            animation-delay: 4.5s;
            left: 20%;
        }   
    }
}

@keyframes move-object {
    0% {
        opacity: 1;
        transform: rortate(0deg);
    }
    100% {
        bottom: 80vh;
        opacity: 0;
        transform: rotate(540deg);
    }
}

.author-info {
    position: absolute;
    top: 40vh;
    width: 100%;
    .author-name {
        color: #b7b7b7;
        font-size: 60px;
        letter-spacing: .2em;
        padding: 10px 0;
    }
    .author-role {
        color: #999;
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .author-info {
        .author-name {
            font-size: 48px;
            letter-spacing: .2em;
        }
    }
}